
footer{
  margin-top:8rem;
  border-top:1px solid var(--border);
  text-align:center;
  padding:2rem;
  color:var(--muted);
}

/* MENU BUTTON */

.menu-btn{
  display:none;
  font-size:1.5rem;
  cursor:pointer;
  color: var(--accent);
}
